<ul>
  <li class="menu-button"><a href="/small_concert_bands/new">教室ライブ申請</a></li>
  <li class="menu-button"><a href="/small_concerts/all">教室ライブ一覧</a></li>
</ul>
<ul>
  <li class="menu-button"><a href="/big_concert_bands/new">コン申請</a></li>
  <li class="menu-button"><a href="/big_concerts/all">コン一覧</a></li>
</ul>