<div class="logo">
  <img src="/assets/logo.png">
</div>
<ul class="main-menu">
  <li class="menu-button menu1"><a href="/small_concert_bands/new">教室ライブ申請</a></li>
  <li class="menu-button menu2"><a href="/small_concerts">教室ライブ一覧</a></li>
</ul>
<ul class="main-menu">
  <li class="menu-button menu3"><a href="/big_concert_bands/new">コン申請</a></li>
  <li class="menu-button menu4"><a href="/big_concerts">コン一覧</a></li>
</ul>
<div class="clear-both"></div>