<div class="logo">
</div>
<div class="login">
    <%= form_for(:session, url: sessions_path) do |f| %>

    <div class="input-field">
      <input id="session_name" name="session[name]" type="text" />
      <label for="session_name">ユーザーID</label>
    </div>
    <div class="input-field">
      <input id="session_password" name="session[password]" type="password">
      <label for="session_password">パスワード</label>
    </div>
      <div class="actions">
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>