
<div class="login">
  <div class="field">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <input id="session_name" name="session[name]" type="text" placeholder="ユーザーID">

      <input id="session_password" name="session[password]" type="password" placeholder="パスワード">

      <div class="actions">
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>