  <% @small_concerts.each do |small_concert| %>
    <a href="/small_concert_bands/list?year=<%= small_concert.year %>&month=<%= small_concert.month %>">
      <%= small_concert.year %>年<%= small_concert.month %>月
    </a>
  <% end %>
