@import '../settings';
@import '../mixin';

#header{
  @include link_font_color(#fff);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_height;
  line-height: $header_height;
  background: #666;
  color: #fff;
  border-bottom: solid 1px;
  text-align: center;
  z-index: 10;
  a {
    text-decoration: none;
  }
  .h_button {
    position: absolute;
    padding: 5px 0;
    width: $menu_width;
    height: $header_height - 10;
    line-height: $header_height - 10;
    background:#333;
  }
  .h_left {
    top: 0;
    left: 0;
  }
  .h_right {
    top: 0;
    right: 0;
  }
}