<div class="form">
  <%= form_for(@big_concert_band) do |f| %>
    <% if @big_concert_band.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@big_concert_band.errors.count, "error") %> prohibited this big_concert_band from being saved:</p>

        <ul>
        <% @big_concert_band.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field">
      <input id="band_name" name="big_concert_band[name]" type="text">
      <label for="band_name">バンド名</label>
    </div>
    <div class="input-field">
      <input id="band_leader" name="big_concert_band[leader]" type="text" value=<%= @big_concert_band.leader %> >
      <label for="band_leader" class="active">リーダー</label>
    </div>
    <div class="input-field">
      <input id="vo" name="big_concert_band[vo]" type="text" >
      <label for="vo">Vo</label>
    </div>
    <div class="input-field">
      <input id="gt1" name="big_concert_band[gt1]" type="text">
      <label for="gt1">Gt1</label>
    </div>
    <div class="input-field">
      <input id="gt2" name="big_concert_band[gt2]" type="text"  >
      <label for="gt2">Gt2</label>
    </div>
    <div class="input-field">
      <input id="ba" name="big_concert_band[ba]" type="text" >
      <label for="ba">Ba</label>
    </div>
    <div class="input-field">
      <input id="dr" name="big_concert_band[dr]" type="text" >
      <label for="dr">Dr</label>
    </div>
    <div class="input-field">
      <input id="key" name="big_concert_band[key]" type="text" >
      <label for="key">Key</label>
    </div>
    <div class="field check">
      <input id="big_concert_band_day1" name="big_concert_band[day1]" type="checkbox" value="1">
      <label for="big_concert_band_day1">1日目</label>
    </div>
    <div class="field check">
      <input id="big_concert_band_day2" name="big_concert_band[day2]" type="checkbox" value="1">
      <label for="big_concert_band_day2">2日目</label>
    </div>
    <div class="field check">
      <input id="big_concert_band_day3" name="big_concert_band[day3]" type="checkbox" value="1">
      <label for="big_concert_band_day3">3日目</label>
    </div>
    <div class="field check">
      <input id="big_concert_band_day4" name="big_concert_band[day4]" type="checkbox" value="1">
      <label for="big_concert_band_day4">4日目</label>
    </div>
    <div class="clear-both"></div>
    <div class="input-field">
      <label>備考</label><br>
      <textarea class="materialize-textarea" name="big_concert_band[description]"></textarea>
    </div>
    <div class="actions">
      <input class="btn" name="commit" type="submit" value="申請">
    </div>
  <% end %>
</div>