<div class="form">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="input-field">
      <input id="user_name" name="user[name]" type="text">
      <label for="user_name">ユーザーID</label>
    </div>
    <div class="input-field">
      <input id="password" name="user[password]" type="password">
      <label for="password">パスワード</label>
    </div>
    <div class="input-field">
      <input id="password_confirmation" name="user[password_confirmation]" type="password">
      <label for="password_confirmation">パスワード(確認)</label>
    </div>

    <div class="input-field">
      <input id="keyword" name="user[keyword]" type="password">
      <label for="keyword">キーワード</label>
    </div>

    <div class="actions">
      <input class="btn" name="commit" type="submit" value="登録">
    </div>
  <% end %>
</div>