<table>
  <tbody>
    <% @big_concerts.each do |big_concert| %>
      <tr>
        <td><%= big_concert.year %>年<%= season_string(big_concert.season) %></td>
        <td>
          <%if big_concert.can_edit %>
            編集受付中
          <% else %>
            締め切り済
          <%end%>
        </td>
        <td><%= link_to 'Edit', edit_big_concert_path(big_concert) %></td>
        <td><a data-confirm="Are you sure?" data-method="delete" href="/admin/big_concerts/<%=big_concert.id%>" rel="nofollow">Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
