<%= form_for [:admin ,@big_concert] do |f| %>
  <% if @big_concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@big_concert.errors.count, "error") %> prohibited this big_concert from being saved:</h2>

      <ul>
      <% @big_concert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    年<br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    季節<br>
    <select class="design-select-box" name="big_concert[season]">
      <option value='0'>春</option>
      <option value='1'>夏</option>
      <option value='2'>秋</option>
    </select>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="作成">
  </div>
<% end %>