<div id="header">
  <% if signed_in? %>
    <a class='h_left h_button' href="/admin/top/index">トップへ</a>
  <% end %>
  <h2>管理画面</h2>
  <% if signed_in? %>
    <a class='h_right h_button' href="/signout">Sign Out</a>
  <% end %>
</div>