<ul id="admin-menu">
  <li><a href="/admin/small_concerts/new">教室ライブ作成</a></li>
  <li><a href="/admin/small_concerts/">教室ライブ管理</a></li>
  <li><a href="/admin/big_concerts/new">コン作成</a></li>
  <li><a href="/admin/big_concerts/">コン管理</a></li>
  <li><a href="/">通常画面へ</a></li>
</ul>