<div id="header">
  <% if signed_in? %>
    <a class='h_left' href="/" style="font-size:11px;">トップへ</a>
  <% end %>
  <h4><%= @title %></h4>
  <% if signed_in? %>
    <a class='h_right' href="/signout" style="font-size:11px;">Logout</a>
  <% end %>
</div>