.field {
  input[type="text"],input[type="password"],textarea {
    width: 90%;
    margin: 20px 5%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
  }
}
.check {
  width: 50%;
  float: left;
  text-align: center;
  margin: 20px 0;
}

.actions {
  input {
    width: 90%;
    height: 30px;
    line-height: 30px;
    margin: 0 5%;
  }
}