@import "setting";
#concert-list {
  margin-top: 32px;
  a {
    width: 100%;
    background: $sub-color;
    color: #fff;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    &.btn {
      border-radius: 0;
    }
  }
}