@import "setting";
#accordion {
  margin: 20px 0;
  border: solid 1px #ccc;
  border-bottom:none;
  h3 {
    background: $sub-color;
    padding: 3px 5px;
  }
  dt {
    background: $sub-color;
    padding: 3px 5px;
  }
}