@import "setting";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  display: block;
  text-decoration: none;
}

html ,body{
  background: $main-color;
  color: #000;
  height: 100%;
}

li {
  list-style: none;
}

.clear-both {
  clear: both;
}

#container {
  width: 100%;
  max-width: 600px;
  padding: 48px 0;
  margin: 0 auto;
  .logo {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

$menu-height: 120px;
.main-menu {
  font-size: 20px;
  li {
    text-align: center;
    width: 45%;
    height: $menu-height;
    line-height: $menu-height;
    background: #888;
    margin: 15px 0;
    color: #fff;
  }
  li:nth-child(even) {
    margin-right: 3%;
    float: right;
  }
  li:nth-child(odd) {
    margin-left: 3%;
    float: left;
  }
  .menu1 {
    background: #00c08c;
  }
  .menu2 {
    background: #ff8000;
  }
  .menu3 {
    background: #ffe500;
  }
  .menu4 {
    background: #c0c0ff;
  }
  a:visited {
    color: #fff;
  }
  a:link {
    color: #fff;
  }
}